@model DBL.Entities.Assigncustomercar
<div class="modal-header">
    <h5 class="text-sm modal-title" id="AssignvehicledetailsmodalLabel">Assign Vehicle Confirmation</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Assignvehicledetails" asp-controller="Customers" method="post">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <p><span class="fw-bold font-weight-bold text-dark">Vehicle:</span> @Model.Vehiclereg</p>
            </div>
            <div class="col-sm-6">
                <p><span class="fw-bold font-weight-bold text-dark">Destination:</span> @Model.Whereto</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><span class="fw-bold font-weight-bold text-dark">Destination Description:</span> @Model.Wheretodescription</p>
            </div>
            <div class="col-sm-6">
                <p><span class="fw-bold font-weight-bold text-dark">Start Date:</span> @Model.Startdate</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><span class="fw-bold font-weight-bold text-dark">Days:</span> @Model.Hiredays</p>
            </div>
            <div class="col-sm-6">
                <p><span class="fw-bold font-weight-bold text-dark">End Date:</span> @Model.Enddate</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><span class="fw-bold font-weight-bold text-dark">Days:</span> @Model.Hiringdays</p>
            </div>
            <div class="col-sm-6">
                <p><span class="fw-bold font-weight-bold text-dark">Total mount:</span> Ksh. @Model.Hireamount</p>
            </div>
        </div>

        <div class="row">
            <input asp-for="Custcode" hidden />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-sm btn-info" value="Finish">
    </div>
</form>