@model DBL.Entities.Assigncustomercar
<div class="modal-header">
    <h5 class="text-sm modal-title" id="AssignvehicledetailsmodalLabel">Assign Vehicle Confirmation</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-4">
            <p><span class="fw-bold font-weight-bold text-dark">Vehicle:<br /></span> @Model.Vehiclereg</p>
        </div>
        <div class="col-sm-8">
            <p><span class="fw-bold font-weight-bold text-dark">Days:<br /></span> @Model.Hiringdays</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p><span class="fw-bold font-weight-bold text-dark">Destination:<br /></span> @Model.Whereto</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p><span class="fw-bold font-weight-bold text-dark">Destination Description:<br /></span> @Model.Wheretodescription</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p><span class="fw-bold font-weight-bold text-dark">Start Date: <br /></span> @Model.Startdate</p>
        </div>
        <div class="col-sm-6">
            <p><span class="fw-bold font-weight-bold text-dark">End Date:<br /></span> @Model.Enddate</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p><span class="fw-bold font-weight-bold text-dark">Carwash: <br /></span> Ksh. @Model.Carwash</p>
        </div>
        <div class="col-sm-4">
            <p><span class="fw-bold font-weight-bold text-dark">Hire mount: <br /></span> Ksh. @Model.Hireamount</p>
        </div>
        <div class="col-sm-4">
            <p><span class="fw-bold font-weight-bold text-dark">Total mount: <br /></span> Ksh. @(Model.Hireamount + Model.Carwash)</p>
        </div>
    </div>
</div>
<form asp-action="FinishAssigndetails" asp-controller="Customers" method="post">
    <div class="row">
        <input asp-for="Custcode" hidden />
        <input asp-for="Vehiclecode" hidden />
        <input asp-for="Vehiclereg" hidden />
        <input asp-for="Whereto" hidden />
        <input asp-for="Wheretodescription" hidden />
        <input asp-for="Hiringdays" hidden />
        <input asp-for="Hireamount" hidden />
        <input asp-for="Startdate" hidden />
        <input asp-for="Enddate" hidden />
        <input asp-for="Carwash" hidden />
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-sm btn-info" value="Finish">
    </div>
</form>