@model IEnumerable<DBL.Models.Viewcompanycustomers>
@{
    ViewData["Title"] = "Companycustomerlist";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <a href="@Url.Action("Addcompanycustomer","Customers")" class="btn btn-info btn-xs float-right" data-bs-target="#AddcompanycustomerModal" data-bs-toggle="modal">Add Customer</a>
            </div>
            <div class="card-body table-responsive-sm">
                <table class="table table-bordered table-striped compact nowrap text-nowrap flex-nowrap table-sm font-weight-light" id="compnycustomersdata">
                    <thead>
                        <tr>
                            <th class="font-weight-light">Fullname</th>
                            <th class="font-weight-light">Email</th>
                            <th class="font-weight-light">Phone</th>
                            <th class="font-weight-light">Owner Type</th>
                            <th class="font-weight-light">Status</th>
                            <th class="font-weight-light">Admin Action</th>
                            <th class="font-weight-light">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@(item.Firstname + ' ' + item.Lastname)</td>
                            <td>@item.Emailadd</td>
                            <td>@item.Phoneno</td>
                            <td>@item.Custtypename</td>
                            <td>@if (item.Isactive) {<span class="badge badge-success">Active</span>}else{ <span class="badge badge-danger">Inactive</span>}</td>
                            <td>@if (item.Isactive) {<a class="btn btn-info btn-xs ml-1" href="@Url.Action("Actdeactivatecustomer", "Customers", new { Custcode = item.Custcode,Status=0 })">Deactivate</a>} else{<a class="btn btn-info btn-xs ml-1" href="@Url.Action("Actdeactivatecustomer", "Customers", new { Custcode = item.Custcode,Status=1 })">Activate</a>} <a class="btn btn-danger btn-xs ml-1" href="@Url.Action("Deletecompanycustomer","Customers",new{Custcode=item.Custcode})">Delete</a></td>
                            <td>
                                <a class="btn btn-info btn-xs ml-1" href="@Url.Action("Companycustomerdetails","Customers",new{Custcode=item.Custcode})">Details</a><a class="btn btn-info btn-xs ml-1" href="@Url.Action("Editcompanycustomer","Customers",new{Custcode=item.Custcode})" data-bs-target="#AddcompanycustomerModal" data-bs-toggle="modal">Edit</a>@if (item.Isactive == true)
                                {<a class="btn btn-info btn-xs ml-1" href="@Url.Action("AssignCustomervehicle","Customers",new{Custcode=item.Custcode})" data-bs-target="#AddcompanycustomerModal" data-bs-toggle="modal">Assign Car</a>}
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mt-5" id="AddcompanycustomerModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="modal fade mt-5" id="AssigncompanydetailsModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="ModalBody">

        </div>
    </div>
</div>


@section Scripts{
    <script src="~/lib/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript">
        $('#AddcompanycustomerModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var url = button.attr("href");
            var modal = $(this);
            modal.find('.modal-content').load(url);
        });
        $('#AddcompanycustomerModal').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
            $('#AddcompanycustomerModal .modal-content').empty();
        });
        function Assignvehicle() {
            if ($('#Hascarwash').prop("checked") == false) {
                $('#Hascarwash').val(false);
            } else {
                $('#Hascarwash').val(true);
            }
            $.ajax({
                url: "/Customers/AssignCustomervehicle",
                data: {
                    Custcode: $('#Custcode').val(),
                    Vehiclecode: $('#Vehiclecode').val(),
                    Whereto: $('#Whereto').val(),
                    Wheretodescription: $('#Wheretodescription').val(),
                    Startdate: $('#Startdate').val(),
                    Hiredays: $('#Hiredays').val(),
                    Hascarwash: $('#Hascarwash').val()
                },
                type: "POST",
                success: function (result) {
                    $('#AddcompanycustomerModal').hide();
                    $('#ModalBody').html(result);
                    $('#AssigncompanydetailsModal').modal('show');
                },
                error: function (xhr, status, error) {
                    alert('Data missing');
                }
            });
        }
        $(document).ready(function () {
            $('#compnycustomersdata').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}