@model DBL.Models.Viewassignedreciept
@{
    ViewData["Title"] = "Assignvehicledetailreport";
    Layout = "~/Views/Shared/_Layoutreciept.cshtml";
}

<div class="row border-0">
    <div class="col-sm-12">
        <table class="dataTable table table-borderless display compact nowrap" ">
            <thead class="border-0">
                <tr class="text-center border-0">
                    <th> <h6 class="font-weight-bold text-info">LOGO</h6></th>
                    <th><h6 class="font-weight-bold text-info">SLEEQ INTERNATIONAL CARHIRE</h6></th>
                    <th><h5 class="font-weight-bold text-warning">INVOICE</h5></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="row mb-2">
    <div class="col-sm-8">
        <table class="dataTable table table-bordered display compact nowrap">
            <thead class="btn-info text-white">
            </thead>
            <tbody>
                <tr><td><span class="font-weight-bold text-dark">NAME: </span>SLEEQ INTERNATIONAL CARHIRE LTD</td><td><span class="font-weight-bold text-dark">TEL: </span>+254-714-234-435</td></tr>
                <tr><td><span class="font-weight-bold text-dark">EMAIL: </span>info@sleeqinternational.com</td><td><span class="font-weight-bold text-dark">LOCATION: </span>Wanjukuu Plaza,Githurai 45.</td></tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <table class="dataTable table table-bordered display compact nowrap text-center">
                    <thead class="btn-info text-white">
                        <tr><th>INVOICE #</th><th>DATE</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><span class="font-weight-bold text-dark">@(Model.Assigncode+ DateTime.Now.ToString("ddMMyyyy"))</span></td><td><span class="font-weight-bold text-dark">@DateTime.Now.ToString("dd/MM/yyyy")</span></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-sm-6">
        <table class="dataTable table table-bordered display compact nowrap">
            <thead class="btn-info text-white">
                <tr><th>BILL TO</th></tr>
            </thead>
            <tbody>
                <tr><td><span class="font-weight-bold text-dark">NAME: </span>@Model.Customername</td></tr>
                <tr><td><span class="font-weight-bold text-dark">TEL: </span>@Model.Phoneno</td></tr>
                <tr><td><span class="font-weight-bold text-dark">EMAIL: </span>@Model.Emailadd</td></tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="dataTable table table-bordered display compact nowrap">
            <thead class="btn-info text-white">
                <tr><th>Trip Details</th><th>Payments</th><th>Hire Amount</th></tr>
            </thead>
            <tbody>
                <tr><td><b>Where: </b>@Model.Whereto<br /><b>Description: </b>@Model.Wheretodescription<br /><b>Issue Date: </b>@Model.Dateissued<br /><b>Expected Date: </b>@Model.Dateexpected<br /><b>Days: </b>@Model.Hiredays<br /></td><td><b>Amount Paid: </b>Ksh. @Model.Paidamount<br /><b>Paid by: </b>@Model.Paidby<br /></td><td>Ksh. @Model.Hireamount</td></tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="1" class="border-0"></td>
                    <td class="bg-light"><span class="font-weight-bold text-dark text-sm">SUBTOTAL</span></td>
                    <td class="bg-light"><span class="font-weight-bold text-dark text-sm">KSH. @Model.Hireamount.ToString("#,##0.00")</span></td>
                </tr>
                <tr>
                    <td colspan="1" class="border-0"></td>
                    <td class="bg-light"><span class="font-weight-bold text-dark text-sm">CARWASH</span></td>
                    <td class="bg-light"><span class="font-weight-bold text-dark text-sm">KSH. @Model.Carwash.ToString("#,##0.00")</span></td>
                </tr>
                <tr>
                    <td colspan="1" class="border-0"></td>
                    <td class="bg-light"><span class="font-weight-bold text-dark text-sm">TOTAL</span></td>
                    <td class="bg-light"><span class="font-weight-bold text-dark text-sm">KSH. @Model.Totalhireamount.ToString("#,##0.00")</span></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="row mt-2">
    <table class="dataTable table table-bordered display compact nowrap">
        <thead>
            <tr><th>RIGHT PALM</th><th>LEFT PALM</th></tr>
        </thead>
        <tbody>
            <tr>
                <td width="50%" height="150" class="border-1"></td>
                <td width="50%" height="150" class="border-1"></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row mt-2">
    <table class="dataTable table table-bordered display compact nowrap">
        <tbody>
            <tr>
                <td width="30%">Signature :</td>
                <td width="70%" height="30" class="border-1"></td>
            </tr>
        </tbody>
    </table>
</div>