@model DBL.Models.Viewcompanycustomerdetails
@{
    ViewData["Title"] = "Companycustomerdetails";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p><span class="fw-bold font-weight-bold text-dark">Fullname:</span> @(Model.Customer.Firstname+' '+Model.Customer.Lastname)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p><span class="fw-bold font-weight-bold text-dark">Email:</span> @Model.Customer.Emailadd</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p><span class="fw-bold font-weight-bold text-dark">Phone:</span> @Model.Customer.Phoneno</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p><span class="fw-bold font-weight-bold text-dark">ID Number:</span> @Model.Customer.Idnumber</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p><span class="fw-bold font-weight-bold text-dark">Owner Type:</span> @Model.Customer.Custtypename</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        @*<div class="row">
            <div class="col-sm-12">
                <div class="card table-responsive-sm">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-8">
                                <h5>Vehicles List</h5>
                            </div>
                            <div class="col-sm-4">
                                <a href="@Url.Action("Addvehicle","Customers",new { Customercode=Model.Customer.Custcode})" class="btn btn-sm btn-info float-right" data-bs-target="#AddcustomedataModal" data-bs-toggle="modal">Add Vehicle</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="dataTable table table-bordered table-striped table-sm nowrap text-nowrap" id="companyvehiclesdata">
                            <thead>
                                <tr>
                                    <th>Vehicle Reg</th>
                                    <th>Vehicle Type</th>
                                    <th>Capacity</th>
                                    <th>Chaseno</th>
                                    <th>Engine Size</th>
                                    <th>Fuel Type</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var data in Model.Vehicles)
                                {
                                    <tr>
                                        <td>@data.Regno</td>
                                        <td>@data.Makename</td>
                                        <td>@data.Capacity</td>
                                        <td>@data.Chasno</td>
                                        <td>@data.Enginesize</td>
                                        <td>@data.Fueltype</td>
                                        <td><a class="btn btn-info btn-sm">Edit</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-sm-12">
                <div class="card table-responsive-sm">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-8">
                                <h5>Kins List</h5>
                            </div>
                            <div class="col-sm-4">
                                <a href="@Url.Action("Addnextofkincustomer","Customers",new { Customercode=Model.Customer.Custcode})" class="btn btn-sm btn-info float-right" data-bs-target="#AddcustomedataModal" data-bs-toggle="modal">Add Next of Kin</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="dataTable table table-bordered table-striped table-sm display compact nowrap text-nowrap" id="Nextofkindata">
                            <thead>
                                <tr>
                                    <th>Fullname</th>
                                    <th>Phonenumber</th>
                                    <th>Idnumber</th>
                                    <th>Relation</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var data in Model.Nextofkin)
                                {
                                    <tr>
                                        <td>@data.Fullname</td>
                                        <td>@data.Phonenumber</td>
                                        <td>@data.Idnumber</td>
                                        <td>@data.Relname</td>
                                        <td><a class="btn btn-info btn-xs">Edit</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mt-5" id="AddcustomedataModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $('#AddcustomedataModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var url = button.attr("href");
            var modal = $(this);
            modal.find('.modal-content').load(url);
        });
        $('#AddcustomedataModal').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
            $('#AddcustomedataModal .modal-content').empty();
        });
        $(document).ready(function () {
            $('#companyvehiclesdata').DataTable();
            $('#Nextofkindata').DataTable();
        });
    </script>
}