@model IEnumerable<DBL.Models.Viewcompanycustomers>
@{
    ViewData["Title"] = "Companycustomerlist";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <a href="@Url.Action("Addcompanycustomer","Customers")" class="btn btn-info btn-sm float-right" data-bs-target="#AddcompanycustomerModal" data-bs-toggle="modal">Add Customer</a>
            </div>
            <div class="card-body table-responsive-sm">
                <table class="dataTable table table-bordered table-striped text-nowrap display compact nowrap table-sm" id="compnycustomersdata">
                    <thead>
                        <tr>
                            <th>Fullname</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Owner Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(item.Firstname+' '+item.Lastname)</td>
                                <td>@item.Emailadd</td>
                                <td>@item.Phoneno</td>
                                <td>@item.Custtypename</td>
                                <td><a class="btn btn-info btn-xs ml-1" href="@Url.Action("Companycustomerdetails","Customers",new{Custcode=item.Custcode})">Details</a><a class="btn btn-info btn-xs ml-1" href="@Url.Action("Vehicleownerdetails","Customers",new{ownercode=item.Custcode})">Edit</a><a class="btn btn-danger btn-xs ml-1" href="@Url.Action("Vehicleownerdetails","Customers",new{ownercode=item.Custcode})">Delete</a><a class="btn btn-info btn-xs ml-1" href="@Url.Action("AssignCustomervehicle","Customers",new{Custcode=item.Custcode})" data-bs-target="#AddcompanycustomerModal" data-bs-toggle="modal">Assign Car</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mt-5" id="AddcompanycustomerModal" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $('#AddcompanycustomerModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var url = button.attr("href");
            var modal = $(this);
            modal.find('.modal-content').load(url);
        });
        $('#AddcompanycustomerModal').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
            $('#AddcompanycustomerModal .modal-content').empty();
        });
        $(document).ready(function () {
            $('#compnycustomersdata').DataTable();
        });
    </script>
}