@model IEnumerable<DBL.Models.Viewassignedreciept>
@{
    ViewData["Title"] = "Viewassignvehicledata";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body table-responsive">
                <table class="dataTable table table-bordered table-striped display compact nowrap" id="Viewassignedreciept">
                    <thead>
                        <tr>
                            <th>Vehicle</th>
                            <th>Fullname</th>
                            <th>Phone</th>
                            <th>Where to</th>
                            <th>Days</th>
                            <th>Description</th>
                            <th>Carstatus</th>
                            <th>Date Issued</th>
                            <th>Date Expected</th>
                            <th>Date Recieved</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Vehiclereg</td>
                            <td>@item.Customername</td>
                            <td>@item.Phoneno</td>
                            <td>@item.Whereto</td>
                            <td>@item.Hiredays</td>
                            <td>@item.Wheretodescription</td>
                            <td>@item.Carstatus</td>
                            <td>@item.Dateissued</td>
                            <td>@item.Dateexpected</td>
                            <td>@item.Daterecieved</td>
                            <td>@if(item.Carstatus!= "Parked"){
                                <a class="btn btn-info btn-xs ml-1" href="@Url.Action("Checkinvehicle","Customers",new{Assigncode=item.Assigncode,Vehiclecode=item.Vehiclecode})">Checkin</a>
                                }<a class="btn btn-info btn-xs ml-1" href="@Url.Action("Assignvehicledetailreport","Customers",new{Assigncode=item.Assigncode})">Reciept</a></td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Viewassignedreciept').DataTable();
        });
    </script>
}
