@model IEnumerable<DBL.Models.Viewassignedreciept>
@{
    ViewData["Title"] = "Viewassignvehicledata";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body table-responsive">
                <table class="table table-bordered table-striped compact nowrap text-nowrap flex-nowrap table-sm font-weight-light table-sm" id="Viewassignedreciept">
                    <thead>
                        <tr>
                            <th class="font-weight-lighter">Customer Details</th>
                            <th class="font-weight-lighter">Trip Details</th>
                            <th class="font-weight-lighter">Hirer Details</th>
                            <th class="font-weight-lighter">Payment Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><b>Vehicle: </b>@item.Vehiclereg<br /><b>Name: </b>@item.Customername<br /> <b>Phone: </b>@item.Phoneno<br /><b>Email: </b>@item.Emailadd<br /></td>
                                <td>
                                    <b>Where to: </b>@item.Whereto<br /><b>Description: </b>@item.Wheretodescription <br /> <b>Days: </b>@item.Hiredays<br /> <b>Date Hired: </b>@item.Dateissued <br /><b>Date Expected: </b> @item.Dateexpected <br /><b>Status: </b>@item.Carstatus <br />
                                    @if (item.Carstatus != "Parked")
                                    {
                                        <a class="btn btn-info btn-xs ml-1" href="@Url.Action("Extendvehicle","Customers",new{Assigncode=item.Assigncode})" data-bs-target="#ExtendvehicleModal" data-bs-toggle="modal">Extend</a><br />
                                    }
                                </td>
                                <td>
                                    <b>Date Hired: </b>@item.Dateissued<br /><b>Leased By: </b>@item.Hirername<br /><b>Date Recieved: </b>@item.Daterecieved<br /><b>Recieved by: </b>@item.Recievername<br />
                                    @if (item.Carstatus != "Parked")
                                    {
                                        <a class="btn btn-info btn-xs ml-1" href="@Url.Action("Checkinvehicle","Customers",new{Assigncode=item.Assigncode,Vehiclecode=item.Vehiclecode})">Checkin</a>
                                    }
                                </td>
                                <td>
                                    <b>Amount Due: </b>Ksh. @item.Amountdue.ToString("#,#00.00")<br />
                                    @if (item.Ispaid)
                                    {
                                        <span class="btn btn-xs btn-success"><b>Paid</b></span><br />
                                        <b>Amount Paid:  </b><span>Ksh.</span> @item.Paidamount.ToString("#,#00.00")<br />
                                        <b>Paid By: </b>@item.Paidby<br />
                                    }
                                    else
                                    { <span class="btn btn-xs btn-danger">Not Paid</span><br />
                                    }
                                    @if (!item.Ispaid)
                                    {
                                        <a class="btn btn-info btn-xs ml-1 mt-1" href="@Url.Action("Payvehicle","Customers",new{Assigncode=item.Assigncode})" data-bs-target="#ExtendvehicleModal" data-bs-toggle="modal">Pay</a><br />
                                    }
                                    else
                                    {
                                        <a class="btn btn-info btn-xs ml-1 mb-0" href="@Url.Action("Assignvehicledetailreport","Customers",new{Assigncode=item.Assigncode})" target="_blank">Reciept</a><br />
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mt-5" id="ExtendvehicleModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/formvalidation.js"></script>
    <script src="~/lib/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript">
        $('#ExtendvehicleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var url = button.attr("href");
            var modal = $(this);
            modal.find('.modal-content').load(url);
        });
        $('#ExtendvehicleModal').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
            $('#ExtendvehicleModal .modal-content').empty();
        });
        $(document).ready(function () {
            $('#Viewassignedreciept').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}