@model DBL.Models.Viewdashboarddata
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<div class="row">
    <div class="col-12 col-sm-6 col-md-4">
        <a href="@Url.Action("Companycustomerlist","Customers")" class="text-dark">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user-friends"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text text-dark">Company Customers</span>
                    <span class="info-box-number text-dark">
                        @Model.Customers
                    </span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
        <a href="@Url.Action("Companyparkedvehicles","Maintenance")">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-car"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text text-dark">Parked Vehicles</span>
                    <span class="info-box-number text-dark">@Model.Parkedvehicles</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
        <a href="@Url.Action("Companyhiredvehicles","Maintenance")">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-car"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text text-dark">Hired Vehicles</span>
                    <span class="info-box-number text-dark">@Model.Hiredvehicles</span>
                </div>
            </div>
        </a>
    </div>
</div>
