@model DBL.Models.Viewdashboarddata
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <a href="@Url.Action("Companycustomerlist","Customers")">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user-friends"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Company Customers</span>
                    <span class="info-box-number">
                        @Model.Customers
                    </span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
        <a href="@Url.Action("Vehicletypelist","Maintenance")">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-car"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Company Vehicles</span>
                    <span class="info-box-number">@Model.Vehicles</span>
                </div>
            </div>
        </a>
    </div>

    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
        <a href="@Url.Action("Vehicletypelist","Maintenance")">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-car"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Parked Vehicles</span>
                    <span class="info-box-number">@Model.Parkedvehicles</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
        <a href="@Url.Action("Vehicletypelist","Maintenance")">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-car"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Hired Vehicles</span>
                    <span class="info-box-number">@Model.Hiredvehicles</span>
                </div>
            </div>
        </a>
    </div>
</div>
