@model DBL.Models.Companyvehicledetails
@{
    ViewData["Title"] = "CompanyvehicleDetails";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Vehicle Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p>@Model.sleeq.Sleeqcar</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-8 float-left">
                                <h5>Vehicle Hire Prices</h5>
                            </div>
                            <div class="col-sm-4 float-right">
                                <a href="@Url.Action("Addvehiclehiredays","Maintenance",new {Sleeqcarcode=Model.sleeq.Sleeqcarcode })" class="btn btn-info" data-target="#AddvehiclehiredaysModal" data-toggle="modal">Add Hire Days</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Hire Days</th>
                                            <th>Hire Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.hiredays)
                                        {
                                            <tr>
                                                <td>@item.Hirefrom   -  @item.Hireto</td>
                                                <td>Ksh. @item.Hireprice</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mt-5" id="AddvehiclehiredaysModal" tabindex="-1" role="dialog" aria-labelledby="AddvehiclehiredaysModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $('#AddvehiclehiredaysModal').on('show.bs.modal', function (event) {
            alert('we are here');
            var button = $(event.relatedTarget);
            var url = button.attr("href");
            var modal = $(this);
            modal.find('.modal-content').load(url);
        });
        $('#AddvehiclehiredaysModal').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
            $('#AddvehiclehiredaysModal .modal-content').empty();
        });
       
    </script>
}