@model IEnumerable<DBL.Models.ViewcompanyVehicletypes>
@{
    ViewData["Title"] = "Vehicletypelist";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <a href="@Url.Action("Addvehicletype","Maintenance")" class="btn btn-info btn-xs float-right" data-bs-target="#AddvehicletypeModal" data-bs-toggle="modal">Add Type</a>
            </div>
            <div class="card-body table-responsive-sm">
                <table class="table table-bordered table-striped compact nowrap text-nowrap flex-nowrap table-sm font-weight-light" id="vehicletypesdata">
                    <thead>
                        <tr>
                            <th class="font-weight-light">Image</th>
                            <th class="font-weight-light">Type Name</th>
                            <th class="font-weight-light">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img src="@Url.Content(item.Imagepath)" height="30" width="30" /> </td>
                                <td>@item.Typename</td>
                                <td><a href="@Url.Action("VehicletypeDetails","Maintenance",new{Typecode=item.Typecode})" class="btn btn-info btn-xs ml-1">Details</a><a class="btn btn-info btn-xs ml-1" href="@Url.Action("Editvehicletype","Maintenance",new{Typecode=item.Typecode})" data-bs-target="#AddvehicletypeModal" data-bs-toggle="modal">Edit</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mt-5" id="AddvehicletypeModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/formvalidation.js"></script>
    <script src="~/lib/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript">
        $('#AddvehicletypeModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var url = button.attr("href");
            var modal = $(this);
            modal.find('.modal-content').load(url);
        });
        $('#AddvehicletypeModal').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
            $('#AddvehicletypeModal .modal-content').empty();
        });
        $(document).ready(function () {
            $('#vehicletypesdata').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}
