@model DBL.Models.CompanyVehicletypedetails
@{
    ViewData["Title"] = "VehicletypeDetails";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
<div class="row">
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Vehicle Type Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p>@Model.Vehtypes.Typename</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-8 float-left">
                                <h5>Vehicle Type Hire Prices</h5>
                            </div>
                            @if(Model.Hireterms == null)
                            {
                                <div class="col-sm-4 float-right">
                                    <a href="@Url.Action("Addvehicletypehireterms","Maintenance",new {Typecode=Model.Vehtypes.Typecode })" class="btn btn-sm btn-info float-right" data-bs-target="#AddvehicletypehiredaysModal" data-bs-toggle="modal">Add Hire Terms</a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-striped display compact nowrap" id="vehiclehireterms">
                                    <thead>
                                        <tr>
                                            <th>Monday</th>
                                            <th>Tuesday</th>
                                            <th>Wednesday</th>
                                            <th>Thursday</th>
                                            <th>Friday</th>
                                            <th>Saturday</th>
                                            <th>Sunday</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Ksh. @Model.Hireterms.Mondayprice</td>
                                            <td>Ksh. @Model.Hireterms.Tuesdayprice</td>
                                            <td>Ksh. @Model.Hireterms.Wednesdayprice</td>
                                            <td>Ksh. @Model.Hireterms.Thursdayprice</td>
                                            <td>Ksh. @Model.Hireterms.Fridayprice</td>
                                            <td>Ksh. @Model.Hireterms.Saturdayprice</td>
                                            <td>Ksh. @Model.Hireterms.Sundayprice</td>
                                            <td><a class="btn btn-xs btn-info">Edit</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mt-5" id="AddvehicletypehiredaysModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>


@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $('#AddvehicletypehiredaysModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var url = button.attr("href");
            var modal = $(this);
            modal.find('.modal-content').load(url);
        });
        $('#AddvehicletypehiredaysModal').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
            $('#AddvehicletypehiredaysModal .modal-content').empty();
        });
        $(document).ready(function () {
            $('#vehiclehireterms').DataTable();
        });
    </script>
}