@model DBL.Models.CompanyVehicletypedetails
@{
    ViewData["Title"] = "VehicletypeDetails";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
<div class="row">
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-sm">Vehicle Type Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 font-weight-lighter">
                                <p>@Model.Vehtypes.Typename</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-8 float-left">
                                <h5 class="text-sm">Vehicle Type Hire Prices</h5>
                            </div>
                            @if (Model.Hireterms == null)
                            {
                                <div class="col-sm-4 float-right">
                                    <a href="@Url.Action("Addvehicletypehireterms","Maintenance",new {Typecode=Model.Vehtypes.Typecode })" class="btn btn-sm btn-info float-right" data-bs-target="#AddvehicletypehiredaysModal" data-bs-toggle="modal">Add Hire Terms</a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-striped compact nowrap text-nowrap flex-nowrap table-sm font-weight-light table-sm" id="vehiclehireterms">
                                    <thead>
                                        <tr>
                                            <th class="font-weight-light">Monday</th>
                                            <th class="font-weight-light">Tuesday</th>
                                            <th class="font-weight-light">Wednesday</th>
                                            <th class="font-weight-light">Thursday</th>
                                            <th class="font-weight-light">Friday</th>
                                            <th class="font-weight-light">Saturday</th>
                                            <th class="font-weight-light">Sunday</th>
                                            <th class="font-weight-light">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Ksh. @Model.Hireterms.Mondayprice</td>
                                            <td>Ksh. @Model.Hireterms.Tuesdayprice</td>
                                            <td>Ksh. @Model.Hireterms.Wednesdayprice</td>
                                            <td>Ksh. @Model.Hireterms.Thursdayprice</td>
                                            <td>Ksh. @Model.Hireterms.Fridayprice</td>
                                            <td>Ksh. @Model.Hireterms.Saturdayprice</td>
                                            <td>Ksh. @Model.Hireterms.Sundayprice</td>
                                            <td><a class="btn btn-info btn-xs ml-1" href="@Url.Action("Editvehicletypehireterms","Maintenance",new{Typecode=Model.Hireterms.Typecode})" data-bs-target="#AddvehicletypehiredaysModal" data-bs-toggle="modal">Edit</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mt-5" id="AddvehicletypehiredaysModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>


@section Scripts{
    <script src="~/lib/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript">
        $('#AddvehicletypehiredaysModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var url = button.attr("href");
            var modal = $(this);
            modal.find('.modal-content').load(url);
        });
        $('#AddvehicletypehiredaysModal').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
            $('#AddvehicletypehiredaysModal .modal-content').empty();
        });
        $(document).ready(function () {
            $('#vehiclehireterms').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}